<?xml version="1.0"?>
<launch>
    <group ns="stereo">
		<!--arg name="node_name" default="norlab_basler_camera_driver_node" /-->
		<arg name="startup_user_set" default="UserSet2" /> <!-- UserSet1: fixed exposure / UserSet2: Bracketing (stm32) / UserSet3: monocular bracketing (left) and auto-exposure (right)-->
		<arg name="compressed" default="true" />
		<arg name="image_encoding" default="bayer_rggb12" />
		<arg name="gain" default="0.0" />


		<arg name="camera1_calibration_url" default="package://norlab_basler_camera_driver/config/camera1_calibration_file.yaml" />
		<arg name="camera2_calibration_url" default="package://norlab_basler_camera_driver/config/camera2_calibration_file.yaml" />
		<arg name="respawn" default="true" />
		<arg name="debug" default="false" />
		<arg unless="$(arg debug)" name="launch_prefix" value="" />
    	<arg if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />
    	<node if="$(eval arg('compressed')==false)" name="norlab_basler_camera_driver_node_standard" pkg="norlab_basler_camera_driver" type="norlab_basler_camera_driver_node_standard" output="screen"
          	respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        	<param name="startup_user_set" value="$(arg startup_user_set)"/>
			<param name="image_encoding" value="$(arg image_encoding)"/>
			<param name="gain" value="$(arg gain)"/>
			<param name="camera1_calibration_url" value="$(arg camera1_calibration_url)"/>
			<param name="camera2_calibration_url" value="$(arg camera2_calibration_url)"/>
    	</node>
    	<node if="$(eval arg('compressed')==true)"  name="norlab_basler_camera_driver_node_compressed" pkg="norlab_basler_camera_driver" type="norlab_basler_camera_driver_node_compressed" output="screen"
          	respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
        	<param name="startup_user_set" value="$(arg startup_user_set)"/>
			<param name="image_encoding" value="$(arg image_encoding)"/>
			<param name="gain" value="$(arg gain)"/>
			<param name="camera1_calibration_url" value="$(arg camera1_calibration_url)"/>
			<param name="camera2_calibration_url" value="$(arg camera2_calibration_url)"/>
    	</node>
   </group>

	<!-- Save camera parameters -->
	<node name="saving_stm32_parameters" pkg="norlab_basler_camera_driver" type="save_parameters_to_topic.py"/>

</launch>
