<?xml version="1.0"?>
<launch>

    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/robot/bags/backpack 
		/rosout
		/stereo/camera1/camera_info  
        /stereo/camera2/camera_info
        /stereo/image_metapackets
        /gps_data_raw 
        /MTI_imu/data_raw 
        /MTI_imu/data
        /stm32_parameters
        /tf 
        /tf_static 
        /velodyne_points"
    />

</launch>
