<?xml version="1.0"?>
<launch>

    <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -o /home/robot/bags/backpack 
                /gps_data_raw 
                /MTI_imu/data_raw 
                /MTI_imu/data 
                /tf 
                /tf_static 
                /velodyne_points"
    />

</launch>
