<?xml version="1.0"?>
<launch>
    <!-- CAMERAS -->
    <include file="$(find backpack_launchers)/launch/cameras.launch"/>
    <!--include file="$(find backpack_launchers)/launch/image_processing.launch"/-->

    <!-- LIDAR -->
    <include file="$(find backpack_launchers)/launch/lidar.launch" >
        <arg name="frame_id" value="lidar_link"/>
    </include>
    <node name="pointcloud_to_laserscan_node" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
        <remap from="cloud_in" to="/map"/>
        <remap from="scan" to="/2d_map"/>
    </node>

    <!-- IMU -->
    <include file="$(find backpack_launchers)/launch/imu.launch" />

    <!-- GPS -->
    <include file="$(find backpack_launchers)/launch/gps.launch" />
</launch>
